<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles/main.css" />
    {{ block "head" . }}
    <title>Landing Page</title>
    {{ end }}
  </head>
  <body>
    <div id="main-layout">
      <header class="bar">
        <ul class="navigation">
          <li class="navigation-item">
            <button
              hx-get="/navigate/home"
              hx-replace-url="home"
              hx-target="#content"
            >
              Home
            </button>
          </li>
          <li class="navigation-item">
            <button
              hx-get="/navigate/editor"
              hx-replace-url="/editor"
              hx-target="#content"
            >
              Editor
            </button>
          </li>
          <li class="navigation-item">
            <button
              hx-get="/navigate/images"
              hx-replace-url="/images"
              hx-target="#content"
            >
              Images
            </button>
          </li>
        </ul>
      </header>
      <div class="container">
        <div id="content">{{ block "body" . }} {{ end }}</div>
      </div>
      <footer class="bar">Footer</footer>
    </div>
  </body>
</html>
